.btn {
    text-align: center;
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: rgb(32, 178, 66);
    color:white;
    font-size: medium;
    border:none;
    cursor:pointer;
}

.content{
    margin: 10px 20px;
    font-size:20px;
    text-transform: uppercase;
    color:grey;
    font-weight: bold;
}

.phone{
    padding-left: 200px;
}